body {
    font-family: 'Arial', sans-serif;
    background-color: #ffcccb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.titulo {
    color: #ff69b4;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 45px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
}

.card {
    padding: 20px;
}

p {
    color: #333;
    text-align: justify;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}

.span {
    color: #ff69b4;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.centrado {
    text-align: center;
}